*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}




header>div.nav{
    display: flex;
    justify-content: end;

}

header{
    height: 70px;
}

header span{
    color: white;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.658);
    margin: 0.5rem 0.25rem;
}

main>section.row{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 3rem 0;
     
}

/*article.card{
  width: calc(100% / 7);
   
   
   
   
   
}*/

div.imagine{
   /* height: 100%;*/
   position: relative;
   display: flex;
   background-repeat: no-repeat;
   background-size: cover;
 
   
}

.imagine img{
    width:100%;
    margin: 0.5rem 0.25rem;
}

span.online{
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
}

div.microfono{
    position: absolute;
    top: 85%;
}













