*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}


.container{
    width: 90%;
    margin: 0 auto;
}

main>section.row{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5rem 0;
}

article.card{
    width: calc(100% / 7);
   /* height: 200px;*/
   padding: 0.25rem;
   
}

div.imagine{
   /* height: 100%;*/
   position: relative;
 
   
}

.imagine img{
    width: 100%;
}

span.online{
    padding: 0.25rem;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
}

div.microfono{
    position: absolute;
    top: 85%;
}













